{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} 录音识别 {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">录音识别</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 80px;">
    {% for message in get_flashed_messages() %}
	<div class='alert alert-warning'>
		<button type='button' class='close' data-dismiss='alert'>&times;</button>
		{{message}}
	</div>
	{% endfor %}
        {% block page_content %}
            <div class="container">
                <div class='jumbotron'>
                    <h2 id='top'>录音文件转写</h2>
                    <p>文件大小不能超过500M</p>
                    <p>录音时长不能超过5小时</p>
                    <p>选择文件上传，然后等个几分钟到几小时，可以点击更新状态查看进度，完成后点击获取结果</p>
                    <p>PS: 录音的时候音质别选太高，不然文件特别大...</p>
                </div>
                {{ wtf.quick_form(form) }}
                <br/>
                <div id="task_id" class="table-responsive">
                    <table class='table table-striped'>
                        <thead><tr><th>文件名</th><th>task_id</th><th>状态</th><th>操作</th></tr></thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <td>{{ record.file_name }}</td>
                                <td>{{ record.task_id }}</td>
                                <td>{{ record.state }}</td>
                                <td>
                                    <button id="getProgress-{{ record['task_id'] }}" name="progress" type="button" class="btn btn-primary">更新状态</button>
                                    <button id="getResult-{{ record['task_id'] }}" name="result" type="button" class="btn btn-primary hidden">获取结果</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        {% endblock %}
    </div>
{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../static/src/main.js"></script>
{#<link href="{{url_for('static',filename='src/css/main.css')}}" rel='stylesheet'>#}
{% endblock %}
